html, body {
    /* Assume 1920 X 1080 resolution is  */
    height: 600pt; 
    width: 600pt;
    /* This sets the space that the cells are partioned in. width and height in the .grid_container 
    will be relative to this */
    margin: 0%; /* Remove any default margin to avoid spacing issues */
    padding: 0;
}
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 10fr 1fr 10fr 10fr; 
    grid-template-areas: 
        "patient_list patient_list"
        "tabs tabs"
        "protocol explainablity"
        "protocol histPlot"; 

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    gap: 0px 0px; /* Add spacing between grid items */

}