<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select a Station to Begin</h1>
        <!-- Form submission -->
        <form method="GET" id="stationForm">
            <div class="station-list">
                <label for="station">Select a Station:</label>
                <select name="station_id" id="station" size="5" required>
                    {% for station in form.stations %}
                        <option value="{{ station.station_number }}">{{ station.station_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" onclick="submitForm()">Load Patients</button>
        </form>
    </div>
    <script>
        function submitForm() {
            const stationId = document.getElementById('station').value;
            
            if (!stationId) {
                alert("Please select a station!");
                return;
            }

            window.location.href = 'http://localhost:5000/load_data/' + stationId

        }
    </script>
</body>
</html>
