<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Patient Details</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protocol.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explainability_table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/score_history.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/patient_list.css') }}">
</head>
<body>

<div class="input-section">
    <label for="patientIDInput">Enter Patient ID:</label>
    <input type="number" id="patientIDInput" placeholder="Patient ID" value="1">
    <button onclick="submitPatientID()">Submit</button>
</div>

<div class="grid-layout">
    <!-- ##################################################### -->
    <!-- #### Patient List -->
    <!-- ##################################################### -->
    <div class="<div class="patient-list-container">

    </div>"

    <!-- ##################################################### -->
    <!-- #### Protocol -->
    <!-- ##################################################### -->
    <div class="protocol-container">
        
        <div class="info-box">
            
            <div class="model-title"><h3>Septic Shock</h3></div>
            <div class="score-info-container">
                
                <div class="score-box" id="septicShockScore"></div>

                <div class="info-text">
                    <p><strong id="septicShockClass"></strong></p>
                    <p>As of <span id="septicShockDate"></span></p>
                    <p id="septicShockPatientInfo"></p>
                </div>
            </div>

            <div class="protocol">
                <p><strong>Protocol:</strong></p>
                <div id="protocolContent"></div>
            </div> 
        </div>
    </div>

    <!-- ##################################################### -->
    <!-- #### Explainablity -->
    <!-- ##################################################### -->
    <div class="explainability-container">
        <table class="explainability-table">
            <caption>Factors Driving Prediction</caption>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Contribution</th>
                </tr>
            </thead>
            <tbody id="explainabilityTableBody"></tbody>
        </table>  
    </div>

    <!-- ##################################################### -->
    <!-- #### Score History Plot -->
    <!-- ##################################################### -->
    <div id="chartContainer" class="chart-container">
        <h3>Score History</h3>
        <canvas id="scoreHistoryChart"></canvas>
    </div> <!-- .chart-Container -->

</div>    

    <script type = "module">
        import { loadPatientDetails } from './static/js/loadPatientDetails.js';
        import { plotScoreHistory } from './static/js/plotScoreHistory.js';

        function openTab(tabName) {
            document.querySelectorAll('.tab-content').forEach(tab => {
                tab.style.display = 'none';
            });
            document.getElementById(tabName).style.display = 'block';
        }

        function submitPatientID() {
            const patientID = document.getElementById('patientIDInput').value;
            if (patientID) {
                loadPatientDetails(patientID);
            } else {
                alert('Please enter a valid Patient ID.');
            }
        }

        // Expose the function to the global scope
        window.submitPatientID = submitPatientID;
    </script>
</body>
</html>
